/* =====================================================
   背景 
   =====================================================*/
.hero{
  height: 100vh;
  background-image: url("images/mainvisual.jpg");

  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

/* 黒マスク */
.hero::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
}

/* 前面に出す */
.hero-content{
  position:relative;
  z-index:1;
  text-align: center;
}

.scroll-down{
  z-index:1;
}

/* タイトル */
.hero-content h1{
  font-size:90px;
  font-family: Helvetica;
  width: 100%;
  letter-spacing: 20px;
  text-align: center;
  margin:0;
}

/* 矢印 */
.scroll-down{
  position:absolute;
  bottom:100px;
  left:50%;
  transform:translate(-50%,0);

  width:60px;
  height:60px;

  border:2px solid white;
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  text-decoration:none;

  animation:float 2s infinite;
}

.scroll-down span{
  width:16px;
  height:16px;
  border-bottom:3px solid white;
  border-right:3px solid white;

  transform:rotate(45deg);
}

/* アニメーション */
@keyframes float{
  0%{transform:translate(-50%,0);}
  50%{transform:translate(-50%,10px);}
  100%{transform:translate(-50%,0);}
}

/* 下のコンテンツ */
#content{
  padding:100px;
}

/* 矢印消滅 */
.scroll-down{
  transition: opacity 0.5s;
}

.scroll-down.hide{
  opacity:0;
  pointer-events:none;
}

/* =====================================================
   Content 
   =====================================================*/
.about{
  padding:60px 20px;
  text-align:center;
  background:#323232;
  color: #ffffff;
}

/* 見出し */
.about h2{
  font-size:40px;
  margin-bottom:0;
  font-weight:400;
  font-family: Helvetica;
}

/* 横並び */
.about-container{
  display:flex;
  justify-content:center;
  gap:60px;
  max-width:1100px;
  margin:auto;
}

/* 各ブロック */
.about-item{
  width:300px;
}

/* コンテンツ画像 */
.about-item img{
  width:120px;
  height:120px;
  border-radius:50%;   /* 丸にする */
  object-fit:cover;
  margin-bottom:20px;
}

.about-item h3{
  font-size:20px;
  margin-bottom:10px;
  font-weight: 400;
  font-family: Helvetica;
}

.about-item p{
  color:#ffffff;
  line-height:1.6;
}

/* グレー横線 */
.about-line{
  max-width:200px;
  height:1px;
  background:#ccc;
  margin:20px auto 60px auto;
}

/* =====================================================
   プロフィール
   =====================================================*/
.profile{
  padding:40px 20px;
  background:#2b2b2b;
}

.about-flex{
  display:flex;
  align-items:center;
  width:100%;
}

/* 左画像 */
.about-image{
  width:50%;
  display:flex;
  justify-content:flex-end;
}

/* 画像 */
.about-image img{
  max-width:350px;
  width:100%;
  border-radius: 10px;
}

/* 右文章 */
.about-text{
  width:50%;
  text-align:left;
  font-weight: 400;
  color:#ffffff;
  padding-left: 40px;
  font-family: Arial;
}

.about-text h2 {
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
}

/* =====================================================
   コンタクトフォーム 
   =====================================================*/
.contact {
  padding:50px 20px;
  background:#323232;
  color: #ffffff;
}

/* 中央のフォーム */
.contact-inner{
  max-width:800px;
  margin:0 auto;
}

.contact-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: Helvetica;
  font-weight: 400;
  margin-bottom: 5px;
}

/* フォーム行 */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

/* ラベル */
.form-group label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  font-family: Helvetica;
}

/* 入力欄 */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: Helvetica;
  color: #ffffff;
  background:#3b3b3b;
  height: 55px;
}

.form-group textarea {
  height: 200px;
}

/* 送信ボタン */
.form-submit {
  text-align: center;
  margin-top: 30px;
}

.form-submit button {
  background: #4576d7;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-family: Helvetica;
}

.form-submit button:hover {
  background: #0183a0;
}

/* 全体適用 */
body{
  margin:0;
  font-family:　Arial;
}

