body{
  margin:0;
  font-family:sans-serif;
}

/* 背景 */
.hero{
  height:100vh;
  background-image:url("images/mainvisual.jpg");

  background-size:110%;
  background-position:60% center;
  background-repeat:no-repeat;

  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}

/* タイトル */
.hero-content h1{
  font-size:4rem;
}

.scroll-down{
  position:absolute;
  bottom:40px;
  left:50%;
  transform:translate(-50%,0);

  width:60px;
  height:60px;

  border:2px solid white;
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  text-decoration:none;

  animation:float 2s infinite;
}

/* 矢印 */
.scroll-down span{
  width:16px;
  height:16px;
  border-bottom:3px solid white;
  border-right:3px solid white;

  transform:rotate(45deg);
}

/* アニメーション */
@keyframes float{
  0%{transform:translate(-50%,0);}
  50%{transform:translate(-50%,10px);}
  100%{transform:translate(-50%,0);}
}

/* 下のコンテンツ */
#content{
  padding:100px;
}
